<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>A Gesture Based Tool for Sterile Browsing of Radiology Images</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"></script>
    {% from "registration_form_helper.html" import render_field %}
    {% include "message_flash.html" %}
 
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="padding: 10px">
        <a class="navbar-brand">{{session.username}}'s Account</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('landingpage')}}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{url_for('help')}}">Help</a>
              </li>  
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('predict')}}">Gesture Prediction</a>
            </li>
          </ul>
        </div>
    </nav>

    <div class="card text-white bg-dark mb-3 mx-auto" style="max-width: 80%; margin-top: 5%;">
        <div class="card-header">Account Settings</div>
        <div class="card-body">
          <h5 class="card-title">Change Password</h5>
          <p class="card-text">Change your account's password here. Use the first text box to enter the new password. Confirm it by typing in the same password in the text box below.</p>

        <form class="form-group" method="post" action="">
            <div class="form-group" style="padding: 10px;">
                {{render_field(form.new_password, class="form-control")}}
            </div>

            <div class="form-group" style="padding: 10px;">
                {{render_field(form.new_confirm, class="form-control")}}
            </div>
            <div class="card-footer text-center">
                <p><input type="submit" value="Submit" class="btn btn-primary" style="margin-top: 20px;"></p>
            </div>          
        </form>
        </div>
    </div>

</body>
</html>